:root {
  --bg: #eee;
  --fg: #44b;
  --fg-dark: #228;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}

body {
  background: var(--bg);
}

a {
  color: unset;
  text-decoration: unset;
}

.material-symbols-sharp {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
}

/* Hidden visually but present for assistive technology */
.visually_hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0.25rem;
}

main {
  padding: 0.25rem;
  padding-right: 0.5rem;
}

@media (min-width: 720px) {
  .page.container {
    display: flex;
  }
}




header.page nav {
  background: var(--fg);
  color: white;
}

header.page a:hover {
  text-decoration: underline;
}

header.page .container {
  display: flex;
  justify-content: space-between;
}

header.page menu {
  list-style: none;

  display: flex;
  align-items: center;
}

header.page menu.screen-lg {
  display: none;
}

header.page menu li {
  padding: 0.25rem;
}

header.page menu li:not(:last-child) {
  border-right: 1px solid var(--bg);
}

header.page .bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.25rem;

  padding: 0.25rem;
}

header.page .bottom h1 {
  padding: 1rem;

  text-align: center;
  color: var(--fg);
}

header.page .bottom form {
  display: flex;
  flex: 1;
}

header.page .bottom form input {
  flex: 1;

  outline: 0;
  border: 0;
  border-bottom: 1px solid var(--fg);
  padding: 0.25rem 0.5rem;
}

header.page .bottom form button {
  background: var(--fg);
  color: white;

  border: 0;
  padding: 0.25rem;
}

header.page .bottom .ad {
  background: rgb(212, 8, 8);

  color: white;
  text-align: center;
  font-weight: bold;

  padding: 0.7rem;

  flex-shrink: 0;
}

@media (min-width: 720px) {
  header.page menu.screen-lg {
    display: flex;
  }
  header.page menu.screen-sm {
    display: none;
  }

  header.page .bottom {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2ch;

    padding-right: 1rem;
  }
}

nav.categories {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  min-width: 25ch;
  padding: 0.25rem;
}

nav.categories a {
  background: var(--fg);
  color: white;
  text-transform: uppercase;

  padding: 0.5rem;
}

nav.categories a:hover {
  cursor: pointer;
  background: var(--fg-dark);
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-auto-rows: 25rem;
  gap: 0.5rem;
}

.product {
  display: flex;
  flex-direction: column;
}

.product h2 {
  color: white;
  background: var(--fg);

  padding: 1rem 0.5rem;
}

.product figure {
  flex: 1;
  height: 0%;
}

.product img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product .description {
  flex: 1;
  padding: 0.5rem;
}

.product footer {
  color: white;
  background: var(--fg);
  padding: 0.5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product .price {
  display: flex;
  gap: 1ch;
}

.product .price dt {
  font-weight: bold;
}

.product footer button {
  background: var(--fg-dark);
  color: white;

  border: 0;
  border-radius: 100%;

  width: 2.5rem;
  height: 2.5rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.product footer button:hover {
  background: rgba(var(--fg-dark), 255);
  cursor: pointer;
}

.product footer .material-symbols-sharp {
  font-size: 1.25rem;
}

footer.page {
  background: var(--fg);
  color: white;

  padding: 2rem 0.5rem;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

footer.page h2 {
  margin-bottom: 0.5rem;
  border-bottom: 2px solid white;
  padding: 0.25rem 0;
}

footer.page menu {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

footer.page menu a:hover {
  text-decoration: underline;
}

@media (min-width: 720px) {
  footer.page {
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
  }
}
